# 忽略bear和clangd产物
compile_commands.json
.cache

# 忽略busybox
busybox-1.37.0.tar.bz2
busybox-1.37.0

# 忽略dropbear
dropbear-2024.85.tar.bz2
dropbear-2024.85

# 忽略rootfs产物
rootfs_l1
rootfs_l1.cpio
rootfs_l2
rootfs_l2.cpio

# 忽略dhcp运行产物
dnsmasq.pid

# 忽略l1的libvirt xml
l1.xml
