# 忽略bear和clangd产物
compile_commands.json
.cache

# 忽略busybox
busybox-1.37.0.tar.bz2
busybox-1.37.0

# 忽略dropbear
dropbear-2024.85.tar.bz2
dropbear-2024.85

# 忽略rootfs产物
rootfs*

# 忽略dhcp运行产物
dnsmasq.pid

# 忽略libvirt xml
l1.xml
src.xml
dst.xml
migrate_guest.xml

# 忽略gdb产物
.gdb_history

# 忽略.bash_history
.bash_history
