[submodule "kernel"]
	path = kernel
	url = https://github.com/torvalds/linux.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "libvirt"]
	path = libvirt
	url = https://github.com/libvirt/libvirt.git
